.formContent {
  margin: 8% 12%;
}

.formBackground {
  border-radius: 1%;
  padding: 3%;
  background-color: white;
}

.formHeader {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  color: darkorange;
}

.form-control {
  border-radius: 25px;
  text-align: center;
}

.formElement {
  padding: 2%;
  font-weight: 600;
}

.formBtn {
  margin-left: 3%;
}

.tableButtons {
  margin: 30px 30px 15px;
}

.table_heading {
  text-align: center;
  color: orange;
  font-size: xx-large;
  margin-bottom: 10px;
}

.tableContent {
  margin: 0% 10% 15%;
}
